@import "tailwindcss";

@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.loader::before {
  content: "";
  position: absolute;
  inset: -15px;
  border-radius: 50%;
  border: 15px solid #514b82;
  animation: loader-spin 2s linear infinite;
}

@keyframes loader-spin {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@theme inline {
  /* fonts */
  --font-geist-medium: var(--font-geist-medium);
  --font-geist-regular: var(--font-geist-regular);
  --font-geist-semibold: var(--font-geist-semibold);
  --font-inter-regular: var(--font-inter-regular);
  --font-inter-semibold: var(--font-inter-semibold);
  --font-inter-medium: var(--font-inter-medium);
  --font-inter-light: var(--font-inter-light);
  --font-fangsong: "Fangsong", serif;
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* shades */
  --shadow-light: 0rem 0.9375rem 0.875rem 0rem rgba(20, 33, 131, 0.03);
  --shadow-lightest: 0rem 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.03);
  --shadow-card: 0rem 0.25rem 0.5rem 0.1875rem rgba(0, 0, 0, 0.08);
  --shadow-dark: 0rem 1.44375rem 3.231875rem 0rem rgba(0, 0, 0, 0.1),
    0rem 5.845rem 5.845rem 0rem rgba(0, 0, 0, 0.09),
    0rem 13.2025rem 7.908125rem 0rem rgba(0, 0, 0, 0.05),
    0rem 23.5175rem 9.420625rem 0rem rgba(0, 0, 0, 0.01),
    0rem 36.72rem 10.245625rem 0rem rgba(0, 0, 0, 0);

  --background-image-brand-sky: linear-gradient(
    to bottom,
    #2076fa 0%,
    #5599ff 70%,
    #b5d2fd 100%;
  );
  --background-image-text-fade: linear-gradient(
    to right,
    #000000 0%,
    rgba(102, 102, 102, 0.59) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer base {
  :root {
    --white: #ffffff;
    --black: #000000;
    --dark-gray: #4d4d4d;
    --raisin-black: #1e1e1e;
    --white-smoke: #f9f9f9;
    --aviation-navy: #181d27;
    --alabaster: #fafafa;
    --dark-gunmetal: #15171d;
    --alice-blue: #e5edfe;
    --light-periwinkle: #cfeafd;
    --oxford-blue: #101828;
    --roman-silver: #667085;
    --royal-blue: #2563eb;
    --tropical-blue: #b9c3ff;
    --ghost-white: #f5f6fc;
    --bright-royal-blue: #2076fa;
    --carbon-gray: #535457;
    --gray-stone: #838383;
    --medium-gray: #666666;
    --silver: #bfbfbf;
    --soft-violet: #8163f7;
    --cloud-grey: #eaecf0;
    --warm-gray: #867e7e;
    --ice-flow: #fbfcff;
    --neutral-gray: #636363;
    --forest-green: #45bf6a;
    --flaming-red: #e25822;
    --dim-yellow: #eedc5b;
    --lightest-green: #d1fae5;
    --lightest-yellow: #fff9b0;
    --lightest-red: #e88357;
    --violet: #7f56d9;
    --bad-score: #fcf6e1;
    --good-score: #e9f6e8;
  }
}

@layer components {
  .header {
    @apply max-w-[clamp(243px,85.07vw,1536px)] mx-auto flex items-center bg-(--white) justify-between px-2 py-2 rounded-[0.875rem] shadow-light;
  }

  .heading-description {
    @apply leading-5.25 max-w-59.5 md:max-w-190.25 mx-auto text-center md:mt-4 mb-12 text-base md:text-2xl md:leading-7.75 text-(--carbon-gray);
  }

  .editor-section {
    @apply mt-12 mb-16.75 border-[0.375rem] rounded-[1.0625rem] border-(--alice-blue) shadow-dark;
  }

  .btn-signin {
    @apply hidden text-(--aviation-navy) bg-linear-to-b from-(--white-smoke) to-(--white) px-[1.141875rem] py-[0.570625rem] whitespace-nowrap rounded-[0.85625rem] cursor-pointer transition md:block;
  }

  .btn-startfree {
    @apply px-7.5 py-2.5 bg-(--dark-gunmetal) text-(--white) rounded-xl hover:bg-(--alabaster) hover:text-(--black) cursor-pointer transition;
  }

  .btn-submitessay {
    @apply w-full bg-[linear-gradient(to_bottom,#2076FA_0%,#5599FF_70%,#B5D2FD_100%)] leading-6.5 text-(--white) text-xl py-3.5 px-7.5 rounded-[0.5625rem] transition-all duration-300 hover:cursor-pointer;
  }

  .ielts-band-text {
    @apply md:text-[3.5rem] max-w-70.5 mx-auto text-[2rem] md:max-w-190.25 text-center my-4! bg-linear-to-r from-(--black) to-(--medium-gray)/59 bg-clip-text text-transparent leading-10.5 md:leading-18.25;
  }

  .ielts-designed-text {
    @apply text-[2rem] md:text-[3rem] md:leading-15.5 tracking-normal max-w-86 leading-10.5 md:max-w-142.5 mx-auto text-center mt-4 mb-14 md:my-4 bg-linear-to-r from-[#000000] to-[#666666]/59 bg-clip-text text-transparent;
  }

  .latest-product-text {
    @apply text-center leading-4 bg-(--white) rounded-[3.125rem] w-fit mx-auto px-3.5 py-[0.11rem] text-xs mb-3 md:mb-1.5 md:text-base md:px-7 md:py-2.25;
  }

  .main-heading {
    @apply mt-1.5 mb-[0.344375rem] md:mb-2.75 max-w-99 px-4.25 w-full text-[3rem] md:text-[5.375rem] leading-[3.25625rem] md:leading-24 mx-auto tracking-[-0.05em] text-center md:max-w-198.25;
  }

  .span-text {
    @apply relative z-10 md:static block mx-auto w-fit bg-(--white) text-[1rem] px-4 rounded-[3.125rem] py-2 leading-4;
  }

  .proven-track-text {
    @apply text-[2rem] mt-4 mb-14 md:text-5xl max-w-75 md:max-w-190.25 mx-auto text-center md:my-4 bg-linear-to-r from-[#000000] to-[#666666]/59 bg-clip-text text-transparent relative z-10;
  }

  .faq-text {
    @apply relative z-10 md:static text-[3.5rem] text-center bg-[linear-gradient(90deg,#000000_0%,rgba(102,102,102,0.59)_100%)] bg-clip-text text-transparent;
  }

  .lower-section {
    @apply absolute -top-65 inset-x-0 h-225 bg-[url('/assets/images/footer-image.png')] bg-center bg-cover bg-no-repeat z-0;
  }

  .blend-1 {
    @apply pointer-events-none
      absolute
      top-0
      inset-x-0
      h-25
      z-1
      bg-linear-to-b
      from-(--ice-flow)
      via-(--ice-flow)/90
      via-(--ice-flow)/60
      to-transparent;
  }

  .blend-2 {
    @apply absolute
      top-0
      inset-x-0
      h-[31.25rem]
      z-[2]
      bg-[radial-gradient(ellipse_at_top,#FBFCFF_0%,transparent_75%)]
      opacity-80;
  }

  .banner-image {
    @apply relative
    bg-[url('/assets/images/main-bg-mobile.png')]
    md:bg-[url('/assets/images/main-bg.png')]
    bg-top
    bg-no-repeat
    bg-contain
    md:bg-cover
    md:bg-[center_-3.125rem]
    pt-4
    md:pt-12.25;
  }

  .instant-scores-heading {
    @apply text-(--black) italic text-5xl md:text-[5.375rem] font-fangsong tracking-[-0.25rem] md:tracking-[-0.5rem];
  }

  .instant-scores-para {
    @apply text-(--dark-gray) text-sm md:text-[1rem] text-center max-w-86 md:max-w-128.75 mx-auto leading-6.5 mb-10 tracking-normal;
  }

  .get-started-btn-banner {
    @apply bg-[linear-gradient(90deg,#2076FA_0%,#5599FF_70%,#B5D2FD_100%)] flex w-[75%] mx-auto rounded-[0.5625rem] md:hidden;
  }

  .live-demo-div {
    @apply bg-(--light-periwinkle) flex items-center gap-[0.555625rem] justify-center py-2 rounded-t-[1.0625rem];
  }

  .types-score {
    @apply flex items-center px-4 py-1.5 rounded-full border border-gray-100/50 shadow-sm whitespace-nowrap transition-all;
  }

  .textarea {
    @apply leading-6.75 w-full resize-none h-112.5 overflow-y-auto bg-transparent focus:outline-none text-base;
  }
}

@layer utilities {
  .transition {
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .wavy-box {
    mask: radial-gradient(calc(sqrt(2) * 10px), #000 calc(100% - 1px), #0000),
      conic-gradient(#000 0 0) content-box,
      radial-gradient(calc(sqrt(2) * 10px), #0000 100%, #000 calc(100% + 1px))
        10px 10px padding-box;
    mask-size: 40px 40px;
  }
}
